n8n/workflows/M09_Messaging_Automation.json
{
  "name": "M09: Messaging Automation",
  "nodes": [
    {
      "parameters": {
        "path": "messaging-trigger",
        "options": {}
      },
      "name": "Event Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const channel = $json[\"payload\"][\"preferred_channel\"] || \"whatsapp\";\nreturn { channel: channel };"
      },
      "name": "Channel Selector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_logs",
        "values": "M09,Message Routed,={{JSON.stringify($json)}}"
      },
      "name": "Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Event Trigger": {
      "main": [[{ "node": "Channel Selector", "type": "main", "index": 0 }]]
    },
    "Channel Selector": {
      "main": [[{ "node": "Audit Log", "type": "main", "index": 0 }]]
    }
  }
}
