n8n/workflows/M11_Analytics.json
{
  "name": "M11: Analytics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "value": 1
            }
          ]
        }
      },
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT event_type, COUNT(*) FROM analytics_events GROUP BY event_type"
      },
      "name": "Aggregate Events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_logs",
        "values": "M11,Analytics Aggregated,={{JSON.stringify($json)}}"
      },
      "name": "Audit Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [[{ "node": "Aggregate Events", "type": "main", "index": 0 }]]
    },
    "Aggregate Events": {
      "main": [[{ "node": "Audit Log", "type": "main", "index": 0 }]]
    }
  }
}
